.pills {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.pill {
  display: inline-block;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
